@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", serif;
    background: #f5f5f5;
	font-size:15px;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
img {
    max-width: 100%;
    width: 100%;
}
.container {
    max-width: 87.5rem;
    padding-left: 2%;
    padding-right: 2%;
}
.ptb-100 {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.w-100 {
    max-width: 100% !important;
    width: 100% !important;
}
.white-bg{
	background-color:#fff!important;
}
.hotel-type{margin-bottom:.5rem;}
.hotel-type span{
	background-color: #daa520;
    padding: .25rem .5rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
}
.banner-title {
    color: #fff;
    font-size: 3.25rem;
    margin: 0 0 0.625rem 0;
    font-weight: 700;
    
}
.banner-title span{
	 color: #ff8e8c;
}
.banner-text > span{
	background-color: #ff8e8c;
    color: #000;
    padding: .25rem .5rem;
    margin-bottom: 1rem;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 600;
}
.small-text {
    
    letter-spacing: 1px;
    display: block;
    margin: 0 0 0.625rem 0;
    color: #fff;
    
    font-size: 1rem;
}
.lead-text {
    font-size: 1.25rem;
    font-weight: 300;
}
.cta-btn {
    border: none;
    color: #fff;
    background: #ff8e8c;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    padding: 0.75rem 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius:0;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 14px;
    border: 2px solid #ff8e8c;

}
.cta-btn:hover {
    background: transparent;
    color: #978667;
}
.btn-outer {
    background: transparent;
    border-color: #ff8e8c;
    color: #ff8e8c;
}
.btn-outer:hover {
    background: #ff8e8c;
    color: #fff;
}
.lists li{padding:7px 0;}
.small-heading {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
	font-family: "Montserrat", serif;
}
.hotels-link-sec .row{padding:0 .75rem;}
.hotels-link-sec .col-lg-6{padding:0;}
.tile-disc {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    margin-bottom: .15rem;
	position:relative;padding-left: 1.5rem;
}
.tile-disc i{
	position: absolute;
    left: 0;
    top: 6px;
}
.site-heading h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    color: #000;
}
.site-heading {
    
    max-width: 56rem;
    margin: auto;
    margin-bottom: .5rem;
    
}
.site-heading .small-text {
    color: #545454;
}
.big-heading {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.9375rem;
    color: #333;
}
.sub-heading {
    color: #333;
    font-weight: 600;
    line-height: 1.3;
    font-size: 1.25rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}
.over-flow-h {
    overflow: hidden;
}
/* header section css start */



.site-header {
    padding: .75rem 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}
.site-header.fixed {
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #d9e1e6;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo-img {
    background-image: url(../images/second_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 55px;
    width: 260px;
    filter: brightness(0) invert(1);
}
.fixed .logo-img {
    filter: brightness(0) invert(0);
}
.main-nav ul li a {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    position: relative;
}
.main-nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff8e8c;
    transition: all 0.3s linear;
}
.fixed .main-nav ul li a::before {
    background-color: #ff8e8c;
}
.main-nav ul li a:hover::before,
.main-nav ul li a.active::before {
    width: 100%;
}
.fixed .main-nav ul li a {
    color: #fff;
}
.main-nav ul li a:hover,
.main-nav ul li a.active {
    color: #ff8e8c;
}
.main-nav ul li {
    display: inline-block;
    margin-left: 1.25rem;
}
.main-nav ul li:first-child {
    margin-left: 0;
}
.main-nav ul {
    text-align: right;
}
.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close,
.toggle,
.over-lay {
    display: none;

}
/* header section css end */
/* banner section css start  */
.site-banner {
    height: 100vh;
    position: relative;
}
.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
.banner-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner-wrap {
    height: 100%;
    width: 100%;
	max-width:90%;
	margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
.banner-wrap .small-text strong{
	    color: #ff8e8c;
}
.search-container{
	position: relative;
   
    width: 90%;
    background-color: #ffffffe6;
    padding: 7px;
    margin: 2rem auto 0;
}
.search-container form{
	display:flex;
}
.search-container input{
	padding:.5rem .5rem .5rem 2.10rem;
    width: calc(100% - 150px);
    border: none;    background: transparent;
}
.search-container i{
	position: absolute;
    left: 10px;
    top: 13px;
    font-size: 1.5rem;
    color: #cdcdcd;
	
}
.search-container button{
	    background-color: #ff8e8c;
    width: 150px;
    color: #000;
    font-weight: 600;
    
    border: none;
   
	padding:.5rem;
}

.contact-form{
	/*padding:2.5rem;
	margin-top:-7rem;
	background-color:#fff;*/
}
/* banner section css end */
.img-box{margin-bottom: 1.25rem;
	
}
.img-box h2{
	font-size: 1.15rem;
    font-weight: 600;
    padding-top: .75rem;
    margin: 0 0 .15rem 0;
}
.img-box p{margin-bottom:.5rem; padding-top:.25rem;}
.img-box a{color:#000;}

.hotel-list .img-box-content{padding:0 .5rem;}
.hotel-list .img-box .tile-disc{margin-bottom:.15rem; line-height:1.25rem}
.hotel-list .img-box .tile-disc strong{
	font-size:14px; 
}
.readmore i{    font-size: 1.25rem;
    line-height: 14px;
    padding-left: 7px;
}
.readmore.collapsed span{display:none;}
.readmore.collapsed span.more{display:inline-block}
.readmore span.more{display:none;}
.readmore span{display:inline-block}
/* home about section  css start */
.other-banner {
    background-color: #000;
    background-image: url(../images/banner-bg.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
	padding:10rem 0 4rem;
}

.blog-banner {
    background-color: #000;
    background-image: url(../images/blog1.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
	padding:12rem 0 7rem;
	position:relative;
}
.blog-banner:after{
	content:"";
	background-color: #00000078;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.blog-banner .banner-wrap{position:relative;z-index: 1;}

.zigzag-section{
	background-color:#fff;
}
.about-section .small-text {
    color: #ff8e8c;
}
.about-img-bx {
    height: 100%;
    width: 100%;
    position: relative;
}
.abt-img,
.abt-img-float,
.hotel-link-img {
    background-image: url(../images/blog-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 0rem;
}
.about-section .row,
.hotels-link-sec .row {
    justify-content: space-between;
}
.about-text {
    padding: 9.375rem 0;
}
.about-text p {
    margin: 0.9375rem 0 1.875rem 0;
}
.abt-img-float {
    left: -70%;
    bottom: 50%;
    position: absolute;
    z-index: 99;
    border: 4px solid #fff;
    width: 60%;
    height: 60%;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.21);
    transform: translate(70%, 50%);
}
.hotel-link-img {
    background-image: url(../images/blog-6.jpg);
}
.hotel-link-text {
    padding: 1.5rem;
    background-color: #ffffffed;
    margin-left: -5rem;
	 margin-right: 0rem;
	     border: 1px solid #efeded;
}
.flex-md-row-reverse .hotel-link-text {
    padding: 1.5rem;
    background-color: #f5f5f5ed;
    margin-right: -5rem;
	margin-left: 0;
}
.hotels-link-sec .row {
    margin-bottom: 5.625rem;
}
.hotels-link-sec .row:last-child {
    margin-bottom: 0;
}
/* home about section css end */
/* why choose us section css start */
.why-choose-sec {
    background-color: #f5f5f5;
}
.choose-icon {
    background-image: url(../images/choose-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 4.0625rem;
    width: 4.0625rem;
    margin: auto;
    margin-bottom: 1.25rem;
}
.choose-wrap {
    padding: 0 0rem;
    
    text-align: center;
    
    height: 100%;
    
}

.col-md-4:first-child .choose-wrap {
    border-left: none;
}
.why-choose-sec .row {
    max-width: 100%;
    margin: auto;
    margin-top: 3.125rem;
}
.choose-text p {
    margin-bottom: 0;    padding:0 1rem;
}

.choose-text h3{
	font-weight:500 !important;
	font-size:1.15rem;
	font-family: Montserrat, serif;
}

/* why choose us section css end */
/* explore section css start  */

.explore-sec {
    position: relative;
}
.explore-text {
    max-width: 56rem;
    margin: auto;
    text-align: center;
}
.explore-text h3,
.explore-text p {
    color: #fff;
}
.disclaimer-wrap {
    max-width: 62.5rem;
    text-align: center;
    margin: auto;
}
.disclaimer-wrap p a {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
}
.disclaimer-wrap p {
    margin-bottom: 0;
}
.disclaimer h4{
	font-size:2.15rem;
}
.contact-form h4{
	font-size:1.2rem;
}
/* explore section css end */
/* footer section css start */
.site-footer {
    background-color: #333;
}
.footer-heading h4 {
    color: #fff;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.footer-heading p {
    color: #fff;
    font-size: 0.9375rem;
    line-height: 1.7;
    margin-bottom: 1.5625rem;
}
.footer-social-links ul li a {
    font-size: 1.25rem;
    color: #fff;
}
.footer-social-links ul li a:hover {
    color: #ebd7b2;
}
.footer-social-links ul li {
    display: inline-block;
    margin-right: 1.25rem;
}
.footer-links ul li a {
    color: #fff;
    font-size: 0.9375rem;
    display: inline-block;
}
.footer-links ul li a:hover {
    color: #ff8e8c;
}
.footer-links ul li {
    padding: 5px 0;
}
.footer-links ul li:first-child {
    padding-top: 0;
}
.newsletter-group input {
    border: 0;
    height: 2.8125rem;
    border-radius: 3px;
    padding-left: 0.9375rem;
    background-color: rgba(255, 255, 255, 0.06);
    color: #fff;
    width: 100%;
    font-size: 0.9375rem;
}
.newsletter-group input:focus {
    border: 0;
    box-shadow: none;
}
.newsletter-group input:focus-visible {
    outline: none;
}
.newsletter-group {
    position: relative;
    margin: 1.5625rem 0;
}
.newsletter-group button {
    position: absolute;
    right: 0.9375rem;
    color: #fff;
    font-size: 1.375rem;
    top: 1px;
    border: 0;
    opacity: 0.6;
    height: 2.8125rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    outline: none;
}
.newsletter-group button:hover {
    color: #ff8e8c;
}
.footer-top {
    background-image: url(../images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 6.25rem 0 3.125rem;
}
.footer-top::before {
    content: '';
    background: transparent;
    background: linear-gradient(to bottom, #020202ab, #000000b8);
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
.footer-top .container {
    position: relative;
    z-index: 1;
}
.footer-bottom {
    padding: 1.5625rem 0;
    background-color: #1f2127;
}
.copyright p {
    font-size: 0.9375rem;
    color: #fff;
    margin-bottom: 0;
}
.copyright {
    padding-top:1rem;
}
.ssl-logo {
    background-image: url(../images/logo-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.8125rem;
    width: 7.5rem;
}
/* footer section css end */
/* sub pages css start */
.sub-banner {
    background-image: url(../images/party-hotel-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5rem;
    position: relative;
}
.sub-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
}
.hotel-abt .about-text {
    padding: 4.375rem 0;
}
.choose-text h5 {
    color: #333;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.3;
    font-size: 1.25rem;
}
.hotel-wrap {
    display: block;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    height: 100%;
    transition: all 0.3s linear;
}
.hotel-wrap:hover {
    transform: translateY(-10px);
}
.hotel-img {
    background-image: url(../images/blog-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 18.75rem;
}
.hotel-text .small-heading {
    font-size: 1.5625rem;
}
.loca-text .tile-disc {
    margin-bottom: 0;
}
.loca-text {
    margin-bottom: 0.625rem;
}
.hotel-text {
    padding: 1.875rem 1.25rem 4.375rem;
}
.hotel-main {
    background: #fff;
}
.hotel-main .col-lg-4 {
    margin: 0.9375rem 0;
}
.hotel-text .cta-btn.btn-outer {
    position: absolute;
    left: 1.25rem;
    bottom: 1.875rem;
}
.sec-choose .choose-wrap {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.5625rem;
    border-image: none;
    border: none;
    border-radius: 0.625rem;
}
.last-sec-wrap {
    text-align: center;
    max-width: 50rem;
    margin: auto;
    position: relative;
}
.last-sec-wrap h3,
.last-sec-wrap p {
    color: #fff;
}
.last-sec {
    background-image: url(../images/party-last-sec-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: relative;
}
.last-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
}
.last-sec-wrap a.cta-btn {
    margin-top: 1.875rem;
}
.rating-stars i {
    margin-right: 0;
    color: goldenrod;
    font-size: 1rem;
}
.hotel-abt .about-text ul {
    list-style: auto;
    padding-left: 1.25rem;
    margin: 0.9375rem 0;
}
.hotel-abt .about-text ul li {
    font-size: 1rem;
    color: #333;
    line-height: 1.7;
    padding: 3px 0;
}
.hotel-abt .about-text ul li ul {
    list-style: disc;
}
.hotel-abt.main-abt-wrap .about-text {
    padding: 1.875rem 0;
}
/* sub pages css end */
.content-page .tile-disc{ margin-bottom:.65rem;}
/* contact page css start */
.contact-top-txt {
    text-align: center;
    padding: 3.125rem;
}
.contact-text h3 {
    margin-bottom: 0.625rem;
}
.contact-text p {
    margin-bottom: 0;
}
.contact-text ul {
    list-style: disc;
    padding-left: 1.25rem;
    margin: 0.625rem 0;
}
.contact-text ul li {
    font-size: 1rem;
    color: #333;
    line-height: 1.7;
}
.contact-text a {
    text-decoration: underline;
    color: #333;
    font-weight: 600;
}
.contact-text {
    margin-bottom: 1.875rem;
}
.social-links ul {
    list-style: none;
    padding-left: 0;
}
.social-links ul li {
    display: inline-block;
    margin-right: 1.25rem;
}
.social-links ul li a {
    font-size: 1.25rem;
    color: #333;
}
.social-links ul li a:hover {
    color: #ff8e8c;
}
.form-group input,
.form-group textarea {
    display: block;
    width: 100%;
    padding: 0.625rem 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ededed;
    appearance: none;
    border-radius: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 0.875rem;
    color: #333;
    height: 3.125rem;
}
.form-group {
    margin-bottom: .5625rem;
}
.form-group-wrap {
    display: flex;
    justify-content: space-between;
}
.form-group-wrap .form-group {
    width: 48%;
}
.form-group textarea {
    height: 10.625rem;
}
.form-group button {
    margin-top: 1.25rem;
}
.contact-main .row {
    justify-content: space-between;
}
/* contact page css end */
/* booking modal css start */
.booking-modal .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.booking-modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 2.5rem;
    width: 40rem;
    border-radius: 0.5rem;
    border: none;
}
.booking-modal .close-button {
    font-size: 55px;
    line-height: normal;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--clr-neutral);
    color: var(--clr-dark);
    transition: color 0.12s ease-in-out;
    position: absolute;
    top: 0;
    right: 20px;
}
.booking-modal .close-button:hover {
    color: var(--clr-main);
}
.booking-modal .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    display: block;
}
.booking-modal .form-group textarea {
    height: 9.375rem;
}
.booking-modal .form-group {
    text-align: center;
}
.booking-modal .form-group {
    text-align: center;
    margin-bottom: 0;
    margin-top: 1.5625rem;
}
.booking-modal .contact-form {
    margin-top: 20px;
}
/* booking modal css end */
/* privacy pages css start */
.privacy-wrap h3 {
    margin-bottom: 10px;
}
.privacy-wrap p {
    margin-bottom: 10px;
}
.privacy-wrap ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style: disc;
}
.privacy-wrap ul li {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    padding: 4px 0;
}
.privacy-wrap {
    margin: 30px 0;
}
.privacy-wrap a {
    text-decoration: underline;
    font-weight: 500;
    color: #333;
}

#newcookies {
    color: #000;
    background-color: #fffffff0;
    right: 1em;
    bottom: 1em;
    height: auto;
    padding: 1rem 0.5rem;
    position: fixed;
    width: 90%;
    max-width: 400px;
    z-index: 9999;
    font-size: 16px;
    line-height: 1.5em;
    padding: 1.2rem;
    max-width: 24em;
    letter-spacing: 1.2px;
    box-shadow: 0 0 20px #ccc;
    border-radius: 4px;
display: none;
text-align:center;
}

/* privacy pages css end */

.five-cols{
	display: grid;
    grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
    text-align: center;
}
.four-cols{
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
    text-align: center;
}
.five-cols img, .four-cols img{
	width:auto;
}
.five-cols p strong, .four-cols p strong{
	display:block;
	    font-weight: 500; padding-top:.5rem;
    font-size: 1.15rem;    margin-bottom: .5rem;
	}
.main-nav ul {
        text-align: left;
        padding: 50px 30px;
    }
    .main-nav ul li {
        display: block;
        margin-left: 0;
        padding: 10px 0;
    }
    .main-nav {
        overflow-y: auto;
        transform: translateX(100%);
        top: 0;
        right: 0;
        bottom: 0;
        width: 350px;
        height: 100%;
        position: fixed;
        z-index: 99999;
        background-color: #0000009e;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .menuToggle .main-nav {
        transform: translateX(0%);
    }
    .menuToggle .over-lay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .main-nav ul li a {
        color: #fff;
    }
    .close,
    .toggle {
        display: block;
    }
    .close {
        display: block;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        color: #ccc;
        display: inline-block;
        text-align: center;
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 25px;
    }
    .toggle {
        color: #fff;
        font-size: 28px;
    }
    .fixed .toggle {
        color: #333;
    }
.prioritize .tile-disc{padding-left:0;}
@media(max-width:1100px) {
    html {
        font-size: 15px;
    }
    .why-choose-sec .row {
        max-width: 95%;
    }
    .about-text {
        padding: 6rem 0;
    }
}
@media(max-width:992px) {
    .footer-wrap {
        margin-bottom: 50px;
    }
	.footer-top .col-lg-5.col-md-6{
		order:3;
	}
	  .footer-top .col-lg-5.col-md-6  .footer-wrap {
        margin-bottom: 0; margin-top:40px;}
    .col-lg-3:last-child .footer-wrap {
        margin-bottom: 0;
    }
    
    .contact-form {
        margin-top: 50px;
    }
	.flex-md-row-reverse .hotel-link-text, .hotel-link-text{
		margin:0;
		padding:1rem;
	}
	.five-cols{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width:850px) {
    .about-section .row {
        flex-direction: column-reverse;
    }
    .about-section .row .col-lg-5,
    .about-section .row .col-md-6 {
        width: 100%;
    }
    .abt-img-float {
        display: none;
    }
    .abt-img,
    .abt-img-float {
        height: 350px;
    }
    .about-text,
    .hotel-abt .about-text,
    .hotel-abt.main-abt-wrap .about-text {
        padding: 20px 0 0;
    }
    .ptb-100 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .why-choose-sec .row {
        max-width: 100%;
    }
    .choose-wrap {
        padding: 0 1.25rem 1.25rem 1.25rem;
    }
    .big-heading {
        font-size: 2.15rem;
    }
    .about-section .flex-md-row-reverse {
        flex-direction: column-reverse !important;
    }
}
@media(max-width:767px) {
	.banner-title br{display:none;}
    html {
        font-size: 14px;
    }
    .hotels-link-sec .row {
        margin-bottom: 2rem;
    }
    .site-banner {
        height: 650px;
    }
    .hotel-link-img {
        height: 300px;
    }
    .choose-wrap {
        margin-bottom: 30px;
        height: auto;
        border: none;
        border-bottom: 1px solid #ededed;
    }
    .sub-banner {
        height: 550px;
    }
    .booking-modal .modal-content {
        width: 90%;
    }
	.site-heading h3{font-size:1.25rem;}
}
@media(max-width:575px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .main-nav {
        width: 100%;
    }
    .copyright {
        flex-direction: column-reverse;
        
        gap: 8px;
    }
    .banner-text {
        padding: 0 10px;
    }
    .contact-top-txt {
        padding: 3rem 0;
    }
	.search-container form{
		flex-direction: column;
	}
	.search-container button{width:100%;}
	.search-container input{background-color:#fff; width:100%;}
	
}
@media(max-width:400px) {
    .hotel-link-img {
        height: 250px;
    }
    .abt-img {
        height: 300px;
    }
    .banner-title {
        font-size: 2.15rem;
    }
    .form-group-wrap .form-group {
        width: 100%;
    }
    .form-group-wrap {
        flex-wrap: wrap;
    }
	.five-cols{
		grid-template-columns: repeat(1, 1fr);
	}
}